.table-block {
    max-width: 900px;
    padding: 0 3vw;
    margin: auto;
}

table {
    width: 96%;
    margin: auto;
}

.table-head {
    text-align: center;
    color: lightgreen;
}

.th {
    font-weight: bold;
}
.td {
    font-size: 16px;
}

.th,
.td {
    opacity: 0.7;
}
