<div class="search-box">


    <h1>CALCULATE WEBSITE WORTH</h1>
    <p>SiteWorthTraffic is a free service designed to estimate value, daily pageviews, daily visitors and daily revenue
        of a website.</p>

    <div class="input-block">
        <div class='cell'><input type='search' (input)="onValueChange($event)" [(ngModel)]="value"
                                 placeholder='any valid url or domain'></div>
        <div class='cell'>
            <div [ngClass]='{button:true,"submit-button":true,clickable:!showProgressBar}' (click)="handleClick()">
                Submit
            </div>
        </div>
    </div>
    <div class="message-block">
        <div *ngIf="showProgressBar" class="processing-block">
            <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
            <div class="processing-text">processing...</div>
        </div>


        <div *ngIf="showInvalidUrl" class="error-message">
            <p>Please enter valid url or domain.</p>
        </div>

        <div *ngIf="showRequestErrorUnauth" class="error-message">
            <p>You action seem like bot.Try again later</p>
        </div>

        <div *ngIf="showRequestErrorNotFound" class="error-message">
            <p>data url not found.</p>
        </div>

        <div *ngIf="showRequestError" class="error-message">
            <p>Something went wrong.Try again later. </p>
        </div>


    </div>

    <app-data-grid *ngIf="reportData" [reportData]="reportData" ></app-data-grid>

</div>