<div class="search-box">


    <h1>CALCULATE WEBSITE WORTH</h1>
    <p>SiteWorthTraffic is a free service designed to estimate value, daily pageviews, daily visitors and daily revenue
        of a website.</p>

    <div class="input-block">
        <div class='cell'><input type='search' (input)="onValueChange($event)" [(ngModel)]="value"
                                 placeholder='any valid url or domain'></div>
        <div class='cell'>
            <div [ngClass]='{button:true,"submit-button":true,clickable:!showProgressBar}' (click)="handleClick()">
                Submit
            </div>
        </div>
    </div>
    <div class="message-block">
        <div *ngIf="showProgressBar" class="processing-block">
            <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
            <div class="processing-text">processing...</div>
        </div>

        <div *ngIf="showRequestError" class="request-error">
            <p>No such data url or something went wrong. </p>
        </div>

        <div *ngIf="showInvalidUrl" class="invalid-url">
            <p>Please enter valid url or domain.</p>
        </div>


    </div>


</div>