<div class="search-box">
    <h1>{{ 'search.title' | translate }}</h1>
    <p>{{ 'search.explain' | translate }}</p>

    <div class="input-block">
        <div class="cell">
            <input
                type="search"
                (input)="onValueChange($event)"
                [(ngModel)]="value"
                [placeholder]="'search.placeholder' | translate"
            />
        </div>

        <div class="cell">
            <div
                [ngClass]="{
                    button: true,
                    'submit-button': true,
                    clickable: !showProgressBar
                }"
                (click)="handleClick()"
            >
                {{ 'search.button' | translate }}
            </div>
        </div>
    </div>
    <div class="message-block">
        <div *ngIf="showProgressBar" class="processing-block">
            <mat-progress-bar
                color="primary"
                mode="indeterminate"
            ></mat-progress-bar>
            <div class="processing-text">{{'search.processing'|translate}}</div>
        </div>

        <div *ngIf="showInvalidUrl" class="error-message">
            <p>{{'search.invalidUrl'|translate}}</p>
        </div>

        <div *ngIf="showRequestErrorUnauth" class="error-message">
            <p>{{'search.unAuth'|translate}}</p>
        </div>

        <div *ngIf="showRequestErrorNotFound" class="error-message">
            <p>{{'search.notFound'|translate}}</p>
        </div>

        <div *ngIf="showRequestError" class="error-message">
            <p>{{'search.error'|translate}}</p>
        </div>
    </div>

    <app-data-grid *ngIf="reportData" [reportData]="reportData"></app-data-grid>
</div>
