.table-block {
    max-width: 900px;
    padding: 0 3vw;
    margin: auto;
}
table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

//
//
.data-url-span {
    color: #00bcd4;
    &:hover {
        text-decoration: underline;
        cursor: default;
    }
}

//

.top-explain{
  color:lightgreen;
  text-align: center;
}

td,th{
  opacity: 0.8;
}

