<mat-toolbar color="primary">
    <button mat-button routerLink="/">
        <mat-icon>home</mat-icon>
        {{ title }}
    </button>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
</mat-toolbar>
<div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/report/google.com">google.com</button>
    <button mat-button routerLink="/report/yahoo.com">yahoo.com</button>
    <button mat-button routerLink="/report/test">test</button>
    <button mat-button routerLink="/report/test.com">test.com</button>
</div>

<button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
</button>

<mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item routerLink="/report/google.com">google.com</button>
    <button mat-menu-item routerLink="/report/yahoo.com">yahoo.com</button>
    <button mat-menu-item routerLink="/report/test">test</button>
    <button mat-menu-item routerLink="/report/test.com">test.com</button>

    <!--<button mat-menu-item>Help</button>-->
</mat-menu>
