table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.table-block{
  max-width: 850px;
  margin: 0 auto;

}

.table-block-explain{
  color: lightgreen;
  text-align: center;
  padding-top: 10px;
}