
.graph-block{
  display: flex;
  max-width: 900px;
  margin:4vh auto;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;

}
.graph-item{
  flex-basis: 49%;

}



@media only screen and (max-width: 600px) {
 .graph-block{

 }
  .graph-item{
    flex-basis: 95%;

  }
}

