<div class="data-grid-block">


    <div class="flex-block">

        <mat-card class="flex-item">
            <mat-card-title>Total Worth $</mat-card-title>
            <mat-card-content>{{reportData?.report.websiteWorth|localNumber}}</mat-card-content>
        </mat-card>

        <mat-card class="flex-item">
            <mat-card-title>Daily Revenue from AD $</mat-card-title>
            <mat-card-content>{{reportData?.report.reportStatistics[4].revenue | localNumber}}</mat-card-content>
        </mat-card>

        <mat-card class="flex-item">
            <mat-card-title>Daily Page Views</mat-card-title>
            <mat-card-content>{{reportData?.report.reportStatistics[4].uniquePageViews | localNumber}}</mat-card-content>
        </mat-card>

        <mat-card class="flex-item">
            <mat-card-title>Alex Rank</mat-card-title>
            <mat-card-content>{{reportData?.rank | localNumber}}</mat-card-content>
        </mat-card>








    </div>

    <p class="data-grid-header">report - {{reportData?.dataUrl}}  </p>


</div>
