<div class="data-grid-block">


    <div class="flex-block">

        <mat-card class="flex-item">
            <mat-card-title> {{'dataGrid.total'|translate}} $</mat-card-title>
            <mat-card-content>{{reportData?.report.websiteWorth|localNumber}}</mat-card-content>
        </mat-card>

        <mat-card class="flex-item">
            <mat-card-title>{{'dataGrid.revenue'|translate}}  $</mat-card-title>
            <mat-card-content>{{reportData?.report.reportStatistics[0].revenue | localNumber}}</mat-card-content>
        </mat-card>

        <mat-card class="flex-item">
            <mat-card-title>{{'dataGrid.pv'|translate}}</mat-card-title>
            <mat-card-content>{{reportData?.report.reportStatistics[0].uniquePageViews | localNumber}}</mat-card-content>
        </mat-card>

        <mat-card class="flex-item">
            <mat-card-title>
              {{'dataGrid.rank'|translate}}
            </mat-card-title>
            <mat-card-content>{{reportData?.rank | localNumber}}</mat-card-content>
        </mat-card>








    </div>

    <p class="data-grid-header">{{'dataGrid.Report'|translate}} {{reportData?.dataUrl}}  </p>


</div>
