table {
    max-width: 900px;
    margin: auto;
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.table-header {
    font-weight: bold;

}
.td {

    font-size: 16px;
}

h3 {
    text-align: center;
    color: lightgreen;
}
