<app-search  ></app-search>

<div class=" explain-p">

    <p>SiteWorthTraffic is a free service designed to estimate value, daily pageviews, daily visitors and daily revenue
        of a
        website. Quickly calculate the website worth and worldwide ranking of any website. View detailed website traffic
        statistics, including Alexa statistics, last shared links on Facebook social network, country where is located
        the
        web server, IP address, monthly earning and yearly earnings. The usage of this service does not require any
        registration and is completely free for everyone.</p>
</div>


<app-table></app-table>


