<div class=" explain-p">

  <p>We estimate the website value of <span>{{reportData?.dataUrl}}</span> is currently at <span>$ {{reportData?.report.websiteWorth |localNumber}}</span> USD and reaches roughly <span>{{reportData?.report.reportStatistics[4].uniqueVisitors |localNumber}}</span> unique users
    each day that generate <span>{{reportData?.report.reportStatistics[4].uniquePageViews |localNumber}}</span> daily pageviews with a daily revenue (from advertisements, i.e Google AdSense) of <span>$ {{reportData?.report.reportStatistics[4].revenue |localNumber}}</span>
    USD approximately. According to Alexa (the Web Information Company) the Global Traffic Rank is <span>{{reportData?.rank |localNumber}}</span> . </p>
</div>
