// $background-color:#00bcd4;
$background-color:#273547;

footer{
  background-color: $background-color;
  color: white;
  min-height: 35px;
  text-align: center;
  margin-top: 2rem;
  border: 2px solid $background-color;

}

