/* You can add global styles to this file, and also import other style files */
@import 'styles-theme';

html,
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;

}


// hide recaptcha
.grecaptcha-badge{
    display: none;
}

// this is for explain component inner html span css
.report-explain-component-text span{
  color:green;
  font-weight: bold;
}

